<div class="site-desktop">
  <span class="title" data-i18n-key="desktopTitle"></span>
  <span class="description" data-i18n-key="desktopDescription"></span>
  <img src="assets/images/mobileQR.svg" alt="Mobile QR" class="dynamic-path desktop-image" />
  <footer class="site-footer">
    <div class="container">
      <a href="https://www.facebook.com/cofehut" target="_blank"
        onclick="trackEvent('Social_Click', { cta_name: 'Facebook' })">
        <img src="assets/images/facebook.svg" alt="Coffee Hut Facebook" class="dynamic-path social-img" />
      </a>
      <a href="https://www.instagram.com/cofehut" target="_blank"
        onclick="trackEvent('Social_Click', { cta_name: 'Instagram' })">
        <img src="assets/images/instagram.svg" alt="Coffee Hut Instagram" class="dynamic-path social-img" />
      </a>
      <a href="https://wa.me/message/2HTLVY36VR6KN1" target="_blank"
        onclick="trackEvent('Social_Click', { cta_name: 'WhatsApp' })">
        <img src="assets/images/whatsApp.svg" alt="Coffee Hut WhatsApp" class="dynamic-path social-img" />
      </a>
    </div>
    <span data-i18n-key="copyright"></span>
  </footer>
</div>